:root {
    --dark-teal: #160f29;
    --aqua: #246a73;
    --green: #368f8b;
    --blush: #ddbea8; /*text coloring*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--green);
}

.header{
    background:var(--dark-teal);
    color: var(--blush);
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

input{
    height: 35px;
}

#searchButton {
    background-color: var(--dark-teal);
    color: var(--blush);
    border:none;
    padding: 6px 12px;
    border-radius: 15%;
    
}

i{
    color: var(--blush);
}

#searchButton:hover{
    background-color: var(--blush);
    border:none;
}

#searchButton:focus, #searchButton:active{
    background-color: var(--dark-teal);
    color: var(--blush);
    border:none;
}


#citySearch{
    border-right-style: solid;
    border-color: var(--dark-teal);
    margin-top: 5%;
    height: 500px;

}

.history {
    margin-top: 5px;
    color: var(--blush);
    background-color: var(--dark-teal);
}

.history:hover {
    color: var(--dark-teal);
    background-color: var(--blush);
}

